@import url('loading.css');

button:focus{
	outline: none !important;
}

#content{
	width: 100%;
	max-width: 900px;
	margin: 50px auto;
}

.center{
	text-align: center;
}

#loader{

}

.input-group{
	width: 100%;
}

form{
	width: 100%;
}

#thread{
	/* height: 100vh; */
	/* overflow-y: scroll; */
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 70px;
}

#thread.error{
	background-color: rgba(255,0,0, 0.5);
}

#stats{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
}

.comment{
	padding: 15px;
	margin: 10px;
	background-color: #fff;
	font-size: 16px;
}

.comment h1, .comment p{
	margin-top: 0;
	padding-top: 0;
	text-align: center;
	margin-bottom: 0;
}

.comment h4{
	margin-top: 0;
}

.comment .col-xs-1{
	padding: 0;
}

/* .meta{
	margin-bottom: 5px;
	color: #111;
	font-size: 12px;
} */

.flair{
	font-size: 10px;
	color: #333;
	margin-left: 10px;
}

.score, .comments{
	margin-left: 15px;
}

a, a:hover{
	text-decoration: none;
	color: #111;
}

.hide{
	display: none;
}

#content{
	margin-top: 0;
}

.dark{
	background-color: black;
}

.removed{
	background-color: #ddd;
	opacity: 0.4;
	padding: 5px 15px;
	margin: 0 10px;
}

.removed .score-big, .removed .comments-big, .removed .meta{
	display: none;
}

.removed h4{
	font-size: 14px;
}

@media (max-width: 767px){

	.container{
		padding: 0;
	}

	.comment{
		padding: 10px;
	}

	h4{
		font-size: 16px;
	}

	.removed h4{
		font-size: 12px;
		margin-bottom: 0;
	}

	.score-big{
		font-size: 24px;
	}

	.comments-big{
		font-size: 12px;
	}

	.removed{
		margin: 5px;
	}

	.comment.removed{
		padding: 0 10px;
	}



}